.container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 1%;
}

.column-1 {
  flex: 3;
}

.column-2 {
  flex: 1;
}

.toolbox {
  width: 100%;
  height: 100%;
}

.guess-word {
  text-align: center;
  color: goldenrod;
}

.play-again-container {
  width: 100%;
  height: 100px;
  text-align: center;
}

.play-again-button {
  height: 45%;
  margin-top: 10px;
  width: 30%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  margin-left: 2%;
}

.play-again-button:hover {
  background-color: var(--primary-hover-color);
}
